html, body {
    margin: 0px;
}


/*For screens smaller than 992pixels */
@media screen and (max-width: 700px) {
    .column {
        width: 50%;
        text-align: center;
        background-color: lightgrey;
        margin: auto;
        padding-bottom: 10px;
        border-radius: 25px;
    }

    header {
        padding:  2px;
        text-align: left;
        background-color: darkslategray;
        color: whitesmoke;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .button {
        border: none;
        color: black;
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 10x;
    }

    
}
/* For screens bigger than 992pixels */
@media screen and (min-width: 700px) {
    /*Making three columns*/
    .column {
        float: left;
        width: 33%;
        text-align: center;
        background-color: lightgrey;
        height: 250px;
        margin: 1px;
        border-radius: 25px;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    header {
        padding:  10px;
        text-align: left;
        background-color: darkslategray;
        color: whitesmoke;
        font-size: 30px;
        margin-bottom: 25px;
    }

    .button {
        border: none;
        color: black;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
    }
    
}



.centered {
    text-align: center;
    margin-top: 25px;
    background-color: lightgrey;
    border-radius: 25px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.font-large {
    font-size: 30px;
}

select {
    margin: auto;
    width: auto;
    font-size: 16px;
    border-color:gray;
    height: 34px;
    border-radius: 5px;
}
